html,body {
    height: 100%;
    margin: auto;
}
.container {
    max-width: 1180px;
    margin: 0px auto;
    padding: 0 10px;
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1D1D1D;
    z-index: 2;
}
.header__body {
    position: relative;

    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.header__list li{
    list-style: none;
    padding-right: 20px;
    
}
.header__list {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    display: flex;
    position: relative;
    z-index: 2;
    margin-top: 30px;
}
.info {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
}
.phone {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.town {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #B1B1B1;
    font-size: 12px;
}
.header__link {
    color: white;
    font-size: 18px;
    text-decoration: none;
}
.header__logo img{
    max-width: 100%;
    display: block;
}
.header__logo {
    width: 70px;
    position: relative;
    z-index: 3;
}
.header__burger {
    display: none;
}
.header__burger.active span {
    transform: scale(0);
}
.header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
}
.header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
}
.section1 {
    
    position: relative;
    width: 100%;
    height: 100%;
}
.image {
    display: flex;
    position: absolute;
    margin: auto;
    height: auto;
    align-self: flex-start;
    left: 0;
    width: 100%;
    flex-direction: row;
    margin-top: 70px;
    z-index: -1;
}
.img {
    width: 100%;
}

.name__insta {
    z-index: 1;
    display: flex;
    flex-direction: column;
    

    color: #FFDAC8;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-left: 100px;
    
}
.master__insta {
    display: flex;
    flex-direction: column;
}
.fedorova {
    font-size: 52px;
    margin-top: 200px;
}
.insta__link {
    display: flex;
    flex-direction: row;
}
.insta {
    display: flex;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #FFDAC8;
    text-decoration: none;
    align-items: center;
    padding-left: 10px;
    font-size: 18px;
}
.master {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 100px;
    
   margin-top: 50px;
    color: #CCAB9B;
    width: 1100px;
    margin-left: 100px;
}
.button {

    margin-top: 50px;
    color: #FFDAC8;
    text-decoration: none;
    border: 1px solid;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
    font-size: 22px;
    margin-left: 100px;
}
@media (max-width:900px) {
    .image {
        display: flex;
        margin: auto;
        height: auto;
        left: 0;
        width: 100%;
        flex-direction: row;
        margin-top: 70px;
        z-index: -1;
    }
    .img {
        width: 70%;
    }
    
    .fedorova {
        font-size: 30px;
        margin-top: 180px;
    }
    .name__insta {
        margin-left: 40px;
       
    }
    .master {
        font-size: 70px;
        margin-left: 40px;
        width: 250px;
    }
    .button {
        margin-left: 40px;
        
        width: 250px;
        height: 45px;
        padding-top: 15px;
    }
}
@media (max-width:855px) {
    
    .fedorova {
        font-size: 26px;
    }
    .name__insta {
        margin-left: 40px;
      
    }
    .master {
        font-size: 63px;
        margin-left: 40px;
        width: 250px;
    }
    .button {
        margin-left: 40px;
        
        width: 250px;
        height: 40px;
        padding-top: 15px;
        font-size: 19px;
    }
}
@media (max-width:767px) {
    body.lock {
        overflow: hidden;
    }
    .header__body {
        height: 50px;
    }
    .header__logo {
        width: 40px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .header__burger span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before,
    .header__burger:after {
        content:'';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }
    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 90%;
        background-color: black;
        padding-top: 70px;
        padding-left: 10px;
        transition: all 0.3s ease 0s;
        overflow: auto;
    }
    .header__menu.active {
        top: 0;
    }
    .header__list {
        display: block;
    }
    .header__list li {
        margin-bottom: 20px;
    }
    .img {
        width: 50%;
    }
    .image {
        margin-top: 50px;
    }
    
    .fedorova {
        font-size: 22px;
        margin-right: 10%;
        margin-top: 100px;
        
    }
    .insta {
        font-size: 15px;
        padding-left: 5px;
        
    }
    .insta__link {
        margin-right: 8%;
    }
    .insta__logo {
        width: 23%;
    }
    .name__insta {
       left: 15%;
        
       align-items: center;
       text-align: center;
        right: 30%;
     
    }
    .master__insta {
      align-items: center;
       text-align: center;
       margin-right: 38%;
       
    }
    .master {
        font-size: 53px;
        width: 600px;
        margin-left: 58%;
        margin-top: 20px;
    }
    .button {
        margin-left: 58%;
        margin-top: 30px;
        width: 200px;
        height: 35px;
        padding-top: 10px;
        font-size: 19px;
        
    }
}

@media (max-width:650px) {
    
    
    .fedorova {
        font-size: 19px;
        margin-top: 80px;
        margin-right: 10%;
    }
    .insta__link {
        margin-right: 8%;
    }
    .insta {
        font-size: 13px;
        padding-left: 5px;
    }
    .insta__logo {
        width: 20%;
    }
    .name__insta {
       left: 25%;
       
        align-items: center;
        right: 30%;
     
    }
    .master__insta {
      align-items: center;
       text-align: center;
       margin-right: 38%;
       
    }
    .master {
        font-size: 43px;
        width: 500px;
        margin-left: 58%;
    }
    .button {
        margin-left: 58%;
        
        width: 150px;
        height: 30px;
        padding-top: 10px;
        font-size: 15px;
        
    }
    
}

@media(max-width:540px) {
    
    .fedorova {
        font-size: 16px;
        margin-right: 10%;
    }
    .insta {
        font-size: 10px;
        padding-left: 5px;
        
    }
    .insta__link {
        margin-right: 5%;
    }
    .insta__logo {
        width: 15%;
    }
    .name__insta {
       left: 25%;
     
        align-items: center;
        right: 30%;
     
    }
    .master__insta {
      align-items: center;
       text-align: center;
       margin-right: 38%;
       
    }
    .master {
        font-size: 35px;
        width: 400px;
        margin-left: 58%;
    }
    .button {
        margin-left: 58%;
       
        width: 120px;
        height: 27px;
        padding-top: 10px;
        font-size: 13px;
        
    }
}

@media(max-width: 440px) {
    .image {
        width: 100%;
        height: auto;
        overflow-x: hidden;
    }
    .fedorova {
        font-size: 14px;
        margin-right: 12%;
    }
    .insta__link {
        margin-right: 7%;
    }
    .insta {
        font-size: 10px;
        padding-left: 5px;
    }
    .insta__logo {
        width: 15%;
    }
    .name__insta {
       left: 25%;
       
        align-items: center;
        right: 20%;
     
    }
    .master__insta {
      align-items: center;
       text-align: center;
       margin-right: 38%;
      
       
    }
    .master {
        font-size: 32px;
        width: 300px;
        margin-left: 57%;
        margin-top: 15px;
    }
    .button {
        margin-left: 58%;
        margin-top: 12px;
        width: 120px;
        height: 22px;
        padding-top: 7px;
        font-size: 12px;
        
    }
}
@media(max-width:400px) {
    
    .image {
   
        width: 100%;
        
        height: 55%;
        
       
    }
    .fedorova {
        font-size: 14px;
        margin-right: 7%;
    }
    .insta__link {
        margin-right: 2%;
    }
    .insta {
        font-size: 8px;
        padding-left: 5px;
    }
    .insta__logo {
        width: 15%;
        height: 15%;
    }
    .name__insta {
       left: 35%;
       
        align-items: center;
        right: 10%;
     
    }
    .master__insta {
      align-items: center;
       text-align: center;
       margin-right: 38%;
       
    }
    .master {
        font-size: 30px;
        width: 300px;
        margin-left: 67%;
    }
    .button {
        margin-left: 68%;
        
        width: 100px;
        height: 20px;
        padding-top: 7px;
        font-size: 10px;
        
    }
}
@media(max-width:360px) {
    .texts {
        margin-top: 580px;
    }}