body {
   
    background-color: #0F0F0F;
}

.screen {
    background-color: #250100;
    min-height: 100%;
        min-width: 1024px;
        /* Set up proportionate scaling */
        width: 100%;
        
        /* Set up positioning */
       
        top: 0;
        left: 0;
}
.header_link:hover  {
   color: #FFFFFF;
     text-decoration:none;
}
a:active  {
   color: #FFFFFF;
     text-decoration:none;
}
a:visited  {
   color: #FFFFFF;
     text-decoration:none;
}
a:hover  {
   color: #FFFFFF;
     text-decoration:none;
}
a:link  {
   color: #FFFFFF;
     text-decoration:none;
}
.header_link {
    display: inline-block;
    color: #1F0A07;
    line-height: 1.5;
    text-decoration:none;
    cursor: pointer;
    margin-top: 20px;
    
}
.header_link:after {
    background-color: WHITE;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.header_link:hover:after,
.header_link:focus:after {
    width: 100%;
}

.container {
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 10px; 
}
.header{
    
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    
    
    
}
.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.header_body {
    
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    width: 100%;
    height: 100;
        
}
.header_logo {
    flex: 0 0 200px;
    overflow: hidden;
    position: relative;
    z-index: 5;
    margin-left: 185px;
    margin-top: 43px;
}
.header_logo img{
    width: 122px;
    display: block;
}
.header_link {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}
.header_list {
    display: flex;
    position: relative;
    z-index: 2;
    margin-right: 100px;
    margin-top: 70px;
    font-family: 'Noto Sans', sans-serif;
}
.header_list li {
    list-style: none;
    margin: 0px 0px 0px 20px;
}

.button_call{
    margin-left: 80px;
    height: 60px;
    border: 2px solid #FFFFFF;
    background-color: #0F0F0F;
}

.button_text{
margin: 10px 10px 10px 10px;
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 22px;
margin-top: 5px;    

/* identical to box height */

color: #FFFFFF;
}

.wbt_text{
margin-left: -185px;
margin-top: 149px;
font-family: Old Standard TT;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 79px;
letter-spacing: 0.025em;

color: #FFFFFF;
}

.text_under_wbt_text{
margin-top: 21px;
margin-left: -185px;
font-family: Merriweather Sans;
font-style: normal;
font-weight: normal;
font-size: 23px;
line-height: 29px;
letter-spacing: 0.025em;

color: #FFFFFF;
}

.photos_of_members{
margin-left: 550px;
margin-top: -400px;
}



.text-box {
    margin-left: -190px;
     margin-top: 42px;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
    color: black;
    font-family: Old Standard TT;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


.text_uslugi {
    
margin-left: 150px;
margin-top: 118px;

font-family: Old Standard TT;
font-style: normal;
font-weight: normal;
font-size: 45px;
line-height: 56px;
/* identical to box height */

letter-spacing: 0.025em;

color: #FFFFFF;
}

.why_we_text{
margin-left: -185px;
margin-top: 260px;

font-family: Old Standard TT;
font-style: normal;
font-weight: normal;
font-size: 45px;
line-height: 56px;
/* identical to box height */

letter-spacing: 0.025em;

color: #FFFFFF;
}

.why_we_one{
    margin-top: 60px;
    margin-left: -140px;
}

.why_we_two{
    margin-top: -435px;
    margin-left: 310px;
}

.why_we_three{
    margin-top: -415px;
    margin-left: 720px;
}

.photo_uslugi {
    margin-left: 230px;
    margin-top: 80px;
}
.photo_uslugi1 {
    margin-left: 130px;
    margin-top: 80px;
}

.photo_uslugi2 {
    margin-left: 130px;
    margin-top: 80px;
}

.text_team {
    margin-left: 150px;
margin-top: 118px;

font-family: Old Standard TT;
font-style: normal;
font-weight: normal;
font-size: 45px;
line-height: 56px;
/* identical to box height */

letter-spacing: 0.025em;

color: #FFFFFF;
}



.photo_team {
    margin-left: 340px;
    margin-top: 40px;
}
.photo_team1 {
    margin-left: 130px;
    margin-top: 50px;
}
.photo_team2 {
    margin-left: -90px;
    margin-top: 50px;
}
.photo_team3 {
    margin-left: 355px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.photo_team4 {
    margin-left: 130px;
    margin-top: 50px;
}
.photo_team5 {
    margin-left: -90px;
    margin-top: 50px;
}

.text_portfolio {
    margin-left: 150px;
margin-top: 118px;

font-family: Old Standard TT;
font-style: normal;
font-weight: normal;
font-size: 45px;
line-height: 56px;
/* identical to box height */

letter-spacing: 0.025em;

color: #FFFFFF;
}


.slider_adap {
    width: 800px;
    margin-left: 520px;
    animation: fadeInRight;
    animation-duration: 1s;
    margin-top: 50px;
}

.title_form {
    margin-left: 150px;
margin-top: 100px;

font-family: Old Standard TT;
font-style: normal;
font-weight: normal;
font-size: 45px;
line-height: 56px;
/* identical to box height */

letter-spacing: 0.025em;

color: #FFFFFF;
}

.back_form {
    background-color: white;
    width: 750px;
    height: 420px;
    margin-left: 520px;
    margin-right: 620px;
     margin-bottom: 100px;
    margin-top: 60px;
         padding: 32px; 
         border-radius: 10px; 
         box-shadow: 0 4px 16px #ccc; 
         font-family: sans-serif; 
         letter-spacing: 1px; 
}

.form_group {
    position: relative; 
         margin-bottom: 32px;
}

.text_form {
    margin-left: 0px;
margin-bottom: 50px;

font-family: Old Standard TT;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 25px;
text-align: center;
letter-spacing: 0.025em;

color: #000000;
}
.name {
     position: absolute;
     top: 0px;
         margin-left: 30px; 
         z-index: -1;
         color: #9e9e9e; 
         transition: 0.3s;
         
}

.form-control {
    margin-left: 80px;
    width: 500px;
    
         padding: 0 0 10px 0;
         border: none; 
         border-bottom: 1px solid #e0e0e0; 
         background-color: transparent; 
    outline: none;
         transition: 0.3s;
   
}




.button_form {
    margin-top: 20px;
    margin-left: 80px;
      padding: 10px 20px;
         border: none;
         border-radius: 5px; 
         font-family: sans-serif;
         letter-spacing: 1px;
         font-size: 16xp;
         color :#fff ; 
         background-color: #191919;; 
         outline: none; 
         cursor: pointer; 
         transition: 0.3s; 
}
.button_form:focus,
.button_form:hover{
         background-color: rgba(#191919, 0.7);  
 }

.screen1 {
    background-color: #191919;
    
}

.text_footer1 {
    margin-left: 468px;
margin-top: 70px;
width: 100px;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
    color: #FFFFFF;
}
.text_footer2 {
    margin-left: 468px;
margin-top: 70px;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
    color: #FFFFFF;
}
.text_footer3 {
    margin-left: 488px;
margin-top: 70px;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
    color: #FFFFFF;
}
.text_footer4 {
    margin-left: 468px;
margin-top: 70px;
    width: 200px;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
    color: #FFFFFF;
}

.button_call1{
    margin-left: 580px;
    margin-top: 50px;
    height: 50px;
    width: 160px;
    border: 2px solid #FFFFFF;
    background-color: #191919;
}

.button_text1{
margin: 10px 10px 10px 10px;
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 22px;
margin-top: 5px;    

/* identical to box height */

color: #FFFFFF;
}

.pochta {
    text-align: center;
margin-top: 110px;
    margin-bottom: 50px;

font-family: Oranienbaum;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}


.img_footer {
    margin-left: 200px;
    margin-top: 20px;
}

/*--------------------------------------*/

@media only screen and (max-width: 1760px){
.photo_uslugi {
    margin-left: 165px;
    margin-top: 80px;
}
.photo_uslugi1 {
    margin-left: 130px;
    margin-top: 80px;
}

.photo_uslugi2 {
    margin-left: 130px;
    margin-top: 80px;
}
}



@media only screen and (max-width: 1664px){
    .photo_team {
    margin-left: 310px;
    margin-top: 40px;
}
.photo_team1 {
    margin-left: 130px;
    margin-top: 50px;
}
.photo_team2 {
    margin-left: -60px;
    margin-top: 50px;
}
.photo_team3 {
    margin-left: 325px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.photo_team4 {
    margin-left: 130px;
    margin-top: 50px;
}
.photo_team5 {
    margin-left: -60px;
    margin-top: 50px;
}
.slider_adap{
    margin-left: 420px;
    }
    .back_form{
    margin-left: 435px;    
    }  
    
    .photo_uslugi{
        margin-left: 170px;
    }
    .photo_uslugi1{
        margin-left: 80px;
    }
    .photo_uslugi2{
        
        margin-left: 80px;
    }
}

@media only screen and (max-width: 1572px){
    .photo_team {
    margin-left: 200px;
    margin-top: 40px;
}
.photo_team1 {
    margin-left: 90px;
    margin-top: 50px;
}
.photo_team2 {
    margin-left: -40px;
    margin-top: 50px;
}
.photo_team3 {
    margin-left: 215px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.photo_team4 {
    margin-left: 90px;
    margin-top: 50px;
}
.photo_team5 {
    margin-left: -40px;
    margin-top: 50px;
}
.slider_adap{
    margin-left: 370px;
    }
.back_form{
    margin-left: 385px;    
    }
.text_footer1{
    margin-left: 280px;    
    }
.text_footer2{
    margin-left: 300px;    
    } 
.text_footer3{
    margin-left: 350px;    
    } 
.text_footer4{
    margin-left: 350px;    
    }
.button_call1{
    margin-left: 470px;
    }
    .wbt_text{
    margin-left: -100px;    
    } 
    .text_under_wbt_text{
    margin-left: -100px;     
    }
    .text-box{
    margin-left: -100px;    
    }
    .why_we_text{
    margin-left: -20px;
    }
    .photo_uslugi{
        margin-left: 125px;
    }
}

@media only screen and (max-width: 1505px){
        .photo_uslugi{
        margin-left: 100px;
    }
}

@media only screen and (max-width: 1456px){

.slider_adap{
    margin-left: 310px;
    }
.back_form{
    margin-left: 325px;    
    }
.text_footer1{
    margin-left: 260px;    
    }
.text_footer2{
    margin-left: 280px;    
    } 
.text_footer3{
    margin-left: 300px;    
    } 
.text_footer4{
    margin-left: 320px;    
    }
.button_call1{
    margin-left: 450px;
    }
    .wbt_text{
    margin-left: 0px;    
    } 
    .text_under_wbt_text{
    margin-left: 0px;     
    }
    .text-box{
    margin-left: 0px;    
    }
    .why_we_text{
    margin-left: -20px;
    }
    .photo_uslugi{
    margin-left: 160px;
    height: 400px;
    }
    .photo_uslugi1{
    margin-left: 100px;
        height: 400px;
    }
    .photo_uslugi2{
    margin-top: 100px;
    margin-left: 440px;
        height: 400px;
    }




    .why_we_one{
        margin-left: 50px;
    }
    .why_we_two{
        margin-left: 650px;
    }
    .why_we_three{
        margin-left: 325px;
        margin-top: 50px;
    }
    
    
    
    
    
    
.photo_team {
    margin-left: 180px;
    margin-top: 40px;
}
.photo_team1 {
    margin-left: 90px;
    margin-top: 50px;
}
.photo_team2 {
    margin-left: -20px;
    margin-top: 50px;
}
.photo_team3 {
    margin-left: 195px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.photo_team4 {
    margin-left: 90px;
    margin-top: 50px;
}
.photo_team5 {
    margin-left: -20px;
    margin-top: 50px;
}
}


@media only screen and (max-width: 1319px){

.slider_adap{
    margin-left: 310px;
    }
.back_form{
    margin-left: 325px;    
    }
.text_footer1{
    margin-left: 260px;    
    }
.text_footer2{
    margin-left: 280px;    
    } 
.text_footer3{
    margin-left: 300px;    
    } 
.text_footer4{
    margin-left: 320px;    
    }
.button_call1{
    margin-left: 450px;
    }
    .wbt_text{
    margin-left: 0px;    
    } 
    .text_under_wbt_text{
    margin-left: 0px;     
    }
    .text-box{
    margin-left: 0px;    
    }
    .why_we_text{
    margin-left: -20px;
    }
    .photo_uslugi{
    margin-left: 115px;
    height: 400px;
    }
    .photo_uslugi1{
    margin-left: 100px;
        height: 400px;
    }
    .photo_uslugi2{
    margin-top: 100px;
    margin-left: 410px;
        height: 400px;
    }




    .why_we_one{
        margin-left: 50px;
    }
    .why_we_two{
        margin-left: 650px;
    }
    .why_we_three{
        margin-left: 325px;
        margin-top: 50px;
    }
    
    
    
    
    
    
.photo_team {
    margin-left: 180px;
    margin-top: 40px;
}
.photo_team1 {
    margin-left: 90px;
    margin-top: 50px;
}
.photo_team2 {
    margin-left: -20px;
    margin-top: 50px;
}
.photo_team3 {
    margin-left: 195px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.photo_team4 {
    margin-left: 90px;
    margin-top: 50px;
}
.photo_team5 {
    margin-left: -20px;
    margin-top: 50px;
}
}

@media only screen and (max-width: 1289px){

.slider_adap{
    margin-left: 240px;
    }
.back_form{
    margin-left: 255px;    
    }
.text_footer1{
    margin-left: 120px;    
    }
.text_footer2{
    margin-left: 120px;    
    } 
.text_footer3{
    margin-left: 160px;    
    } 
.text_footer4{
    margin-left: 170px;    
    }
.button_call1{
    margin-left: 300px;
    }
    .wbt_text{
    margin-left: 0px;    
    } 
    .text_under_wbt_text{
    margin-left: 0px;     
    }
    .text-box{
    margin-left: 0px;    
    }
    .why_we_text{
    margin-left: -20px;
    }
    .photo_uslugi{
    margin-left: 95px;
    height: 400px;
    }
    .photo_uslugi1{
    margin-left: 100px;
        height: 400px;
    }
    .photo_uslugi2{
    margin-top: 100px;
    margin-left: 390px;
        height: 400px;
    }




    .why_we_one{
        margin-left: 50px;
    }
    .why_we_two{
        margin-left: 650px;
    }
    .why_we_three{
        margin-left: 325px;
        margin-top: 50px;
    }
    
    
    
    
    
    
.photo_team {
    margin-left: 100px;
    margin-top: 40px;
}
.photo_team1 {
    margin-left: 50px;
    margin-top: 50px;
}
.photo_team2 {
    margin-left: -20px;
    margin-top: 50px;
}
.photo_team3 {
    margin-left: 115px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.photo_team4 {
    margin-left: 50px;
    margin-top: 50px;
}
.photo_team5 {
    margin-left: -20px;
    margin-top: 50px;
}
    .text_abus{
        width: 50px;
    }  
    .text_linkus{
        width: 160px;
    }
}

@media only screen and (max-width: 1236px){

.slider_adap{
    margin-left: 200px;
    }
.back_form{
   
    margin-left: 215px;    
    }
.text_footer1{
    margin-left: 120px;    
    }
.text_footer2{
    margin-left: 120px;    
    } 
.text_footer3{
    margin-left: 160px;    
    } 
.text_footer4{
    margin-left: 170px;    
    }
.button_call1{
    margin-left: 300px;
    }
    .wbt_text{
    margin-left: 100px;    
    } 
    .text_under_wbt_text{
    margin-left: 100px;     
    }
    .text-box{
    margin-left: 100px;    
    }
    .why_we_text{
    margin-left: 165px;
    }
    .photo_uslugi{
    margin-left: 80px;
    height: 340px;
    }
    .photo_uslugi1{
    margin-left: 620px;
        height: 350px;
        margin-top: -370px;
    }
    .photo_uslugi2{
    margin-top: 60px;
    margin-left: 355px;
        height: 350px;
    }

    .photos_of_members{
        width: 500px;
        margin-left: 600px;
    }


    .why_we_one{
        margin-left: 50px;
    }
    .why_we_two{
        margin-left: 650px;
    }
    .why_we_three{
        margin-left: 325px;
        margin-top: 50px;
    }
    
    
    
    
    
    
.photo_team {
    margin-left: 50px;
    margin-top: 40px;
}
.photo_team1 {
    margin-left: 50px;
    margin-top: 50px;
}
.photo_team2 {
    margin-left: 30px;
    margin-top: 50px;
}
.photo_team3 {
    margin-left: 65px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.photo_team4 {
    margin-left: 50px;
    margin-top: 50px;
}
.photo_team5 {
    margin-left: 30px;
    margin-top: 50px;
}
    .text_abus{
        width: 50px;
    }  
    .text_linkus{
        width: 160px;
    }
}

.screen {
    width: 100%;
    margin-right: 0px;
}



@media (max-width:767px){
    .header_body {
        height: 50px;
        
    }
    .header {
        height: 7%;
        position: fixed;
        z-index: 50;
        background-color: #0F0F0F;
    }
    body.lock {
        
    }
    .header_link {
        margin-top: 50px;
        margin-left: 18px;
        font-size: 25px;
        background-color: ;
        border-radius: 20px;
        padding-left: 0px;
        padding-right: 20px;
       
    }
    .button_call {
        margin-top: 50px;
        margin-left: 0px;
    }
    .header_logo{
        flex: 0 0 40px;
    }
    .header_burger{
         display: block;
        position: fixed;
        margin-right: 00px;
        width: 70px;
        height: 100px;
        z-index: 3;
       top: 40px;
        margin-left: 550px;
        
    }
    .header_burger:before,
    .header_burger:after{
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all 0.3s ease 0s;
        
         
    }
    .header_burger:before{
        top: 0;
        margin-left: 550px;
    }
    .header_burger:after{
        bottom: 59px;
        margin-left: 550px;
    }
    .header_burger span{
        position: absolute;
        background-color: white;
        left: 0;
        width: 100%;
        height: 3px;
        top: 19px;
        transition: all 0.3s ease 0s;
        margin-right: 0px;
        margin-left: 550px;
    }
    .header_burger.active:before{
        transform: rotate(45deg);
        top: 19px;
    }
    .header_burger.active:after{
        transform: rotate(-45deg);
        bottom: 77px;
    }
    .header_burger.active span{
        transform: scale(0);
    }
    .header_menu {
        position: fixed;
        top: -130%;
        left: 17px;
        width: 100%;
        height: 100%;
       transition: all 0.3s ease 0s;
        padding: 50px 0px 20px 10px;
        overflow: auto;
        
    }
    .header_menu.active{
        top: 0px;
        
    }
    .header_list {
        text-align: center;
        display: block;
       font-size: 5px;
        margin-top: 20px;
    }
    .header_list li {
     
        margin: 0px 0px 0px 0px;
        z-index: 1;
    }
    .header_logo {
        flex: 0 0 200px;
        overflow: hidden;
        position: absolute;
        z-index: 50;
        margin-top: 10px;
        margin-left: 30px;
    } 
     .header_logo img{
        width: 150px;
        height:90px;
        margin-top: 40px;
        margin-left: 20px;
         
    }
    
    .
    .sale {
        font-size: 55px;
    }
    .img_footer {
        margin-left: 440px;
        margin-bottom: 20px;
        margin-top: 15px;
    }
    .email {
       text-align: center;
        margin-top: 20px;
    }
}

   
    
 

