
  
body {
   
    background-color: #FFEAB6;
}

.screen {
    background-color: #250100;
    min-height: 100%;
        min-width: 1024px;
        /* Set up proportionate scaling */
        width: 100%;
        
        /* Set up positioning */
       
        top: 0;
        left: 0;
}
.header_link:hover  {
   color: #1F0A07;
     text-decoration:none;
}
a:active  {
   color: #1F0A07;
     text-decoration:none;
}
a:visited  {
   color: #1F0A07;
     text-decoration:none;
}
a:hover  {
   color: #1F0A07;
     text-decoration:none;
}
a:link  {
   color: #1F0A07;
     text-decoration:none;
}
.header_link {
    display: inline-block;
    color: #1F0A07;
    line-height: 1.5;
    text-decoration:none;
    cursor: pointer;
    
}
.header_link:after {
    background-color: #1F0A07;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.header_link:hover:after,
.header_link:focus:after {
    width: 100%;
}

.container {
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 10px; 
}
.header{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.header_body {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    width: 100%;
    height: 100;
        
}
.header_logo {
    flex: 0 0 200px;
    overflow: hidden;
    position: relative;
    z-index: 5;
    margin-left: 185px;
    margin-top: 43px;
}
.header_logo img{
    width: 122px;
    display: block;
}
.header_link {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}
.header_list {
    display: flex;
    position: relative;
    z-index: 2;
    margin-right: 400px;
    margin-top: 70px;
    font-family: 'Noto Sans', sans-serif;
}
.header_list li {
    list-style: none;
    margin: 0px 0px 0px 20px;
}

.zerna {
    margin-left: 230px;
    width: 15%;
    margin-bottom: 0px;
    position: absolute;
}

.coffee {
    margin-left: 150px;
    margin-top: 190px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 60px;
    
    color: #250100;
    text-shadow: #c7b198 1px 1px 0, #c7b198 1px 1px 0, 
                 #c7b198 1px 1px 0, #c7b198 2px 2px 0, 
                 #c7b198 1px 1px 0;
}

.cool_coffee {
     margin-left: 150px;
    font-family: 'Open Sans', sans-serif;
    color: #250100;
    margin-top: 30px;
    font-size: 15px;
     text-shadow: #c7b198 0.2px 0.2px 0, #c7b198 0.2px 0.2px 0, 
                 #c7b198 0.2px 0.2px 0, #c7b198 0.2px 0.2px 0, 
                 #c7b198 0.2px 0.2px 0;
}
.button_coffee {
    background-color: #B47E6E;
    border-radius: 9px;
   border: 0px;
    margin: 20px;
    font-size: 35px;
    margin-top: 30px;
    margin-left: 150px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #250100;
    text-shadow: #c7b198 1px 1px 0, #c7b198 1px 1px 0, 
                 #c7b198 1px 1px 0, #c7b198 2px 2px 0, 
                 #c7b198 1px 1px 0;
}
.text_coffee {
    margin: 15px 50px;
   
}
button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
.img_coffee {
    
    width: 900px;
    position: absolute;
  margin-left: 700px;
    margin-top: 70px;
    

    
}

.why_we {
    margin-top: 350px;
    margin-left: 310px;
    font-size: 55px;
    font-family: 'Oswald', sans-serif;
    color: #250100;
    z-index: 50;
}
.list {
    width: 450px;
    position: absolute;
    z-index: 1;
    margin-top: 120px;
}
.why_photo {
    margin-left: 200px;
    margin-bottom: 80px;
    width: 1400px;
}
.title_drink {
    color: #FFEAB6;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-left: 150px;
    margin-top: 80px;
    font-size: 45px;
    margin-bottom: 50px;
}
.img_drink {
    width: 300px;
    height: 450px;
    margin-left: 290px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.img_drink1 {
    
    width: 300px;
    height: 450px;
    margin-left: 160px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.img_drink2 {
    
   width: 300px;
    height: 450px;
    margin-left: 160px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.img_drink3 {
    
   width: 300px;
    height: 450px;
    margin-left: 290px;
    margin-top: 10px;
    margin-bottom: 100px;
}
.img_drink4 {
   width: 300px;
    height: 450px;
    margin-left: 160px;
    margin-top: 10px;
    margin-bottom: 100px;
}
.img_drink5 {
  width: 300px;
    height: 450px;
    margin-left: 160px;
    margin-top: 10px;
    margin-bottom: 100px;
}

.sale {
    color: #250100;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-left: 150px;
    margin-top: 80px;
    font-size: 45px;
    margin-bottom: 50px;
}
.img_sale {
    margin-left: 180px;
    margin-bottom: 80px;
}
.img_sale1 {
    margin-left: 180px;
    margin-bottom: 80px;
}
.img_footer {
    margin-left: 180px;
    margin-top: 50px;
}
.email {
    color: #FFEAB6;
    margin-top: 70px;
    font-size: 15px;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}
.admin {
    color: #FFEAB6;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    margin-bottom: 30px;
}
@media (max-width:767px){
    .header_body {
        height: 50px;
    }
    body.lock {
        overflow: hidden;
    }
    .header_link {
        font-size: 20px;
        padding-top: 0px;
        padding-bottom: 0px;
        margin: 0px;
        margin-right: 0px;
    }
    .header_logo{
        flex: 0 0 40px;
    }
    .header_burger{
        display: block;
        position: relative;
        width: 40px;
        height: 60px;
        z-index: 3;
       top: 20px;
        
    }
    .header_burger:before,
    .header_burger:after{
        content: '';
        background-color: #250100;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all 0.3s ease 0s;
        margin-left: 00px;
         
    }
    .header_burger:before{
        top: 0;
        margin-left: 00px;
    }
    .header_burger:after{
        bottom: 39px;
        margin-left: 00px;
    }
    .header_burger span{
        position: absolute;
        background-color: #250100;
        left: 0;
        width: 100%;
        height: 3px;
        top: 9px;
        transition: all 0.3s ease 0s;
        margin-right: 0px;
        margin-left: 00px;
    }
    .header_burger.active:before{
        transform: rotate(45deg);
        top: 17px;
    }
    .header_burger.active:after{
        transform: rotate(-45deg);
        bottom: 39px;
    }
    .header_burger.active span{
        transform: scale(0);
    }
    .header_menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
       transition: all 0.3s ease 0s;
        padding: 50px 0px 20px 10px;
        overflow: auto;
        
    }
    .header_menu.active{
        top: 0px;
        
    }
    .header_list {
        display: block;
        margin-top: 20px;
    }
    .header_list li {
       
        margin: 0px 0px 20px 0px;
        z-index: 1;
    }
    .header_logo {
        flex: 0 0 250px;
        overflow: hidden;
        position: relative;
        z-index: 50;
        margin-top: 10px;
        margin-left: 30px;
    } 
    .header_logo img {
        max-width: 100%;
        display: flex;
         z-index: 50;
    }
    
    .
    .sale {
        font-size: 55px;
    }
    .img_footer {
        margin-left: 440px;
        margin-bottom: 20px;
        margin-top: 15px;
    }
    .email {
       text-align: center;
        margin-top: 20px;
    }
}
@media only screen and (max-width:1615px) {
    .header_logo {
        margin-left: 60px;
    }
    .coffee {
        font-size: 50px;
        margin-left: 120px;
    }
    .zerna {
        margin-left: 100px;
    }
    .header_list {
        margin-right: 30px;
        margin-left: 0px;
    }
    .button_coffee {
        font-size: 20x;
        margin-left: 120px;
    }
    .cool_coffee {
        font-size: 20px;
        margin-left: 120px;
    }
    .why_we {
        font-size: 40px;
        margin-left: 170px;
        margin-top: 100px;
    }
    .why_photo {
        width: 1200px;
        margin-left: 110px;
        margin-top: 30px;
    }
    .list {
        width: 270px;
        margin-top: 00px;
    }
    .img_coffee {
        margin-left: 630px;
        width: 800px;
        margin-top: 70px;
       
    }
    
    .title_drink {
        font-size: 35px;
    }
    
    .img_drink {
        
        padding: 10px;
        margin-left: 170px;
        width: 350px;
        height: 500px;
    }
    .img_drink1 {
        padding: 10px;
        margin-left: 0px;
      width: 350px;
        height: 500px;
    }
    .img_drink2 {
        padding: 10px;
        margin-left: 0px;
        width: 350px;
        height: 500px;
    }
    .img_drink3 {
        margin-top: 0px;
        padding: 10px;
        margin-left: 170px;
        width: 350px;
        height: 500px;
    }
    .img_drink4 {
        margin-top: 0px;
        padding: 10px;
        margin-left: 0px;
      width: 350px;
        height: 500px;
    }
    .img_drink5 {
        margin-top: 0px;
        padding: 10px;
        margin-left: 0px;
        width: 350px;
        height: 500px;
        margin-right: 0px;
    }
    
    .sale {
        font-size: 35px;
    }
    .img_sale {
        width: 600px;
        margin-left: 100px;
    }
    .img_sale1 {
        width: 600px;
        margin-left: 100px;
    }
}
@media only screen and (max-width:1400px) {
    .header_logo {
        margin-left: 60px;
    }
    .coffee {
        font-size: 45px;
        margin-left: 80px;
    }
    .zerna {
        margin-left: 100px;
    }
    .header_list {
        margin-right: 30px;
        margin-left: 0px;
    }
    .button_coffee {
        font-size: 20x;
        margin-left: 80px;
    }
    .cool_coffee {
        margin-left: 80px;
    }
    .why_we {
        font-size: 40px;
        margin-left: 170px;
        margin-top: 100px;
    }
    .why_photo {
        width: 1200px;
        margin-left: 70px;
        margin-top: 30px;
    }
    .list {
        width: 270px;
        margin-top: 00px;
    }
    .img_coffee {
        margin-left: 530px;
        width: 650px;
        margin-top: 70px;
       
    }
    
    .title_drink {
        font-size: 35px;
    }
    
    .img_drink {
        
        padding: 10px;
        margin-left: 150px;
        width: 350px;
        height: 500px;
    }
    .img_drink1 {
        padding: 10px;
        margin-left: 0px;
      width: 350px;
        height: 500px;
    }
    .img_drink2 {
        padding: 10px;
        margin-left: 0px;
        width: 350px;
        height: 500px;
    }
    .img_drink3 {
        margin-top: 0px;
        padding: 10px;
        margin-left: 150px;
        width: 350px;
        height: 500px;
    }
    .img_drink4 {
        margin-top: 0px;
        padding: 10px;
        margin-left: 0px;
       width: 350px;
        height: 500px;
    }
    .img_drink5 {
        margin-top: 0px;
        padding: 10px;
        margin-left: 0px;
        width: 350px;
        height: 500px;
        margin-right: 0px;
    }
    
    .sale {
        font-size: 35px;
    }
    .img_sale {
        width: 500px;
        margin-left: 100px;
    }
    .img_sale1 {
        width: 500px;
        margin-left: 100px;
    }
}
@media only screen and (max-width:1284px) {
    .header_logo {
        margin-left: 60px;
    }
    .coffee {
        font-size: 45px;
        margin-left: 80px;
    }
    .zerna {
        margin-left: 100px;
    }
    .header_list {
        margin-right: 30px;
        margin-left: 0px;
    }
    .button_coffee {
        font-size: 20x;
        margin-left: 80px;
    }
    .cool_coffee {
        margin-left: 80px;
    }
    .why_we {
        font-size: 40px;
        margin-left: 170px;
        margin-top: 100px;
    }
    .why_photo {
        width: 1100px;
        margin-left: 50px;
        margin-top: 30px;
    }
    .list {
        width: 270px;
        margin-top: 00px;
    }
    .img_coffee {
        margin-left: 530px;
        width: 650px;
        margin-top: 70px;
       
    }
    
    .title_drink {
        font-size: 35px;
    }
    
    .img_drink {
        
        padding: 10px;
        margin-left: 170px;
        width: 300px;
        height: 450px;
    }
    .img_drink1 {
        padding: 10px;
        margin-left: 0px;
      width: 300px;
        height: 450px;
    }
    .img_drink2 {
        padding: 10px;
        margin-left: 0px;
        width: 300px;
        height: 450px;
    }
    .img_drink3 {
        margin-top: 0px;
        padding: 10px;
        margin-left: 170px;
        width: 300px;
        height: 450px;
    }
    .img_drink4 {
        margin-top: 0px;
        padding: 10px;
        margin-left: 0px;
      width: 300px;
        height: 450px;
    }
    .img_drink5 {
        margin-top: 0px;
        padding: 10px;
        margin-left: 0px;
        width: 300px;
        height: 450px;
        margin-right: 0px;
    }
    
    .sale {
        font-size: 35px;
    }
    .img_sale {
        width: 400px;
        margin-left: 60px;
    }
    .img_sale1 {
        width: 400px;
        margin-left: 60px;
    }
}
@media only screen and (max-width:1180px) {
    .header_logo {
        margin-left: 60px;
    }
    .coffee {
        font-size: 45px;
        margin-left: 80px;
    }
    .zerna {
        margin-left: 100px;
    }
    .header_list {
        margin-right: 30px;
        margin-left: 0px;
    }
    .button_coffee {
        font-size: 20x;
        margin-left: 80px;
    }
    .cool_coffee {
        margin-left: 80px;
    }
    .why_we {
        font-size: 40px;
        margin-left: 170px;
        margin-top: 100px;
    }
    .why_photo {
        width: 1000px;
        margin-left: 50px;
        margin-top: 30px;
    }
    .list {
        width: 270px;
        margin-top: 00px;
    }
    .img_coffee {
        margin-left: 500px;
        width: 570px;
        margin-top: 110px;
       
    }
    
    .title_drink {
        font-size: 35px;
    }
    
    .img_drink {
        
        padding: 10px;
        margin-left: 100px;
        width: 300px;
        height: 450px;
    }
    .img_drink1 {
        padding: 10px;
        margin-left: 0px;
      width: 300px;
        height: 450px;
    }
    .img_drink2 {
        padding: 10px;
        margin-left: 0px;
        width: 300px;
        height: 450px;
    }
    .img_drink3 {
        margin-top: 0px;
        padding: 10px;
        margin-left: 100px;
        width: 300px;
        height: 450px;
    }
    .img_drink4 {
        margin-top: 0px;
        padding: 10px;
        margin-left: 0px;
      width: 300px;
        height: 450px;
    }
    .img_drink5 {
        margin-top: 0px;
        padding: 10px;
        margin-left: 0px;
        width: 300px;
        height: 450px;
        margin-right: 0px;
    }
    
    .sale {
        font-size: 35px;
    }
    .img_sale {
        width: 400px;
        margin-left: 60px;
    }
    .img_sale1 {
        width: 400px;
        margin-left: 60px;
    }
}
@media only screen and (max-width:1081px) {
    .header_logo {
        margin-left: 60px;
    }
    .coffee {
        font-size: 45px;
        margin-left: 30px;
    }
    .zerna {
        margin-left: 100px;
    }
    .header_list {
        margin-right: 50px;
        margin-left: 0px;
    }
    .button_coffee {
        font-size: 20x;
        margin-left: 30px;
    }
    .cool_coffee {
        margin-left: 30px;
    }
    .why_we {
        font-size: 40px;
        margin-left: 170px;
        margin-top: 100px;
    }
    .why_photo {
        width: 900px;
        margin-left: 50px;
        margin-top: 30px;
    }
    .list {
        width: 270px;
        margin-top: 00px;
    }
    .img_coffee {
        margin-left: 430px;
        width: 550px;
        margin-top: 130px;
       
    }
    
    .title_drink {
        font-size: 35px;
    }
    
    .img_drink {
        
        padding: 10px;
        margin-left: 100px;
        width: 250px;
        height: 400px;
    }
    .img_drink1 {
        padding: 10px;
        margin-left: 0px;
        width: 250px;
        height: 400px;
    }
    .img_drink2 {
        padding: 10px;
        margin-left: 0px;
        width: 250px;
        height: 400px;
    }
    .img_drink3 {
        margin-top: 0px;
        padding: 10px;
        margin-left: 100px;
        width: 250px;
        height: 400px;
    }
    .img_drink4 {
        margin-top: 0px;
        padding: 10px;
        margin-left: 0px;
        width: 250px;
        height: 400px;
    }
    .img_drink5 {
        margin-top: 0px;
        padding: 10px;
        margin-left: 0px;
        width: 250px;
        height: 400px;
        margin-right: 0px;
    }
    
    .sale {
        font-size: 35px;
    }
    .img_sale {
        width: 400px;
        margin-left: 60px;
    }
    .img_sale1 {
        width: 400px;
        margin-left: 60px;
    }
}
@media only screen and (max-width:964px) {
    .header_logo {
        margin-left: 60px;
    }
    .coffee {
        font-size: 45px;
        margin-left: 30px;
    }
    .zerna {
        margin-left: 100px;
    }
    .header_list {
        margin-right: 50px;
        margin-left: 0px;
    }
    .button_coffee {
        font-size: 20x;
        margin-left: 30px;
    }
    .cool_coffee {
        margin-left: 30px;
    }
    .why_we {
        font-size: 40px;
        margin-left: 170px;
        margin-top: 100px;
    }
    .why_photo {
        width: 900px;
        margin-left: 50px;
        margin-top: 30px;
    }
    .list {
        width: 270px;
        margin-top: 00px;
    }
    .img_coffee {
        margin-left: 430px;
        width: 550px;
        margin-top: 130px;
       
    }
    
    .title_drink {
        font-size: 35px;
    }
    
    .img_drink {
        
        padding: 10px;
        margin-left: 100px;
        width: 250px;
        height: 400px;
    }
    .img_drink1 {
        padding: 10px;
        margin-left: 0px;
        width: 250px;
        height: 400px;
    }
    .img_drink2 {
        padding: 10px;
        margin-left: 0px;
        width: 250px;
        height: 400px;
    }
    .img_drink3 {
        margin-top: 0px;
        padding: 10px;
        margin-left: 100px;
        width: 250px;
        height: 400px;
    }
    .img_drink4 {
        margin-top: 0px;
        padding: 10px;
        margin-left: 0px;
        width: 250px;
        height: 400px;
    }
    .img_drink5 {
        margin-top: 0px;
        padding: 10px;
        margin-left: 0px;
        width: 250px;
        height: 400px;
        margin-right: 0px;
    }
    
    .sale {
        font-size: 35px;
    }
    .img_sale {
        width: 350px;
        margin-left: 60px;
    }
    .img_sale1 {
        width: 350px;
        margin-left: 100px;
    }
}
@media only screen and (max-width:767px) {
    .header_burger:before,
    .header_burger:after{
        margin-left: 200px;
        
        
    }
    .header_burger span {
        margin-left: 200px;
      
    }
   
    .header_link {
        margin-left: 570px;
        font-size: 40px;
        background-color: #FFEAB6;
        border-radius: 20px;
        padding-left: 10px;
        padding-right: 20px;
    }
    .header_logo img{
        width: 160px;
        margin-top: 40px;
        margin-left: 20px;
    }
    .img_coffee {
        position: absolute;
        margin-top: 150px;
        width: 570px;
        margin-left: 450px;
    }
    .img_drink {
         padding: 0px;
        position: absolute;
        margin-left: 80px;
        max-width: 100%;
        margin-top: 00px;
        width: 400px;
        height: 600px;
    }
    .img_drink1 {
        position: absolute;
         padding: 0px;
        margin-left: 500px;
        margin-bottom: 20px;
        margin-top: 0px;
        width: 400px;
        height: 600px;
    }
    .img_drink2 {
        padding: 0px;
        position: absolute;
        margin-left: 80px;
        max-width: 100%;
        margin-top: 650px;
        width: 400px;
       height: 600px;
    }
    .img_drink3 {
        position: absolute;
         padding: 0px;
        margin-left: 500px;
        margin-bottom: 20px;
        margin-top: 650px;
        width: 400px;
       height: 600px;
    }
    .img_drink4 {
        padding: 0px;
   
        margin-left: 80px;
        max-width: 100%;
        margin-top: 1300px;
      width: 400px;
        height: 600px;
    }
    .img_drink5 {
             position: absolute;
         padding: 0px;
        margin-left: 20px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-top: 1300px;
        width: 400px;
        height: 600px;
    }
    .title_drink {
        font-size: 55px;}
    .zerna {
        margin-left: 130px;
    }
    .coffee {
        font-size: 47px;
        width: 100%;
        padding-right: 0px;
       margin-left: 50px; 
        margin-right: 0px;
        margin-top: 200px;
    }
    .cool_coffee {
        margin-left: 50px;
        font-size: 20px;
    }
    
    .button_coffee{
        margin-left: 50px;
        margin-right: 0px;
        font-size: 25px;
    }
    .why_we {
        margin-top: 100px;
        margin-left: 100px;
    }
    .list {
        margin-top: 20px;
    }
    .why_photo {
        width: 975px;
        margin-left: 0px;
    }
    .img_sale1 {
        width: 600px;
        margin-left: 200px;
    }
    .img_sale {
         width: 600px;
        
    margin-left: 200px;
        margin-top: 0px;}
    .sale {
        font-size: 55px;
    }
    .img_footer {
        margin-left: 440px;
        margin-bottom: 20px;
        margin-top: 15px;
    }
    .email {
       text-align: center;
        margin-top: 20px;
    }
} 
@media only screen and (max-width:644px) {
    .header_burger:before,
    .header_burger:after{
        margin-left: 400px;
        
        
    }
    .header_burger span {
        margin-left: 400px;
      
    }
}

@media (max-width:375px){
    .img_coffee {
        margin-left: 400px;
    }

    
}
@media (max-width:320px){
    .why_we {
        font-size: 37px;
    }
    .button_coffee {
        font-size: 25px;
        margin-left: 20px;
    }
.header_burger:before,
    .header_burger:after{
        margin-left: 550px;
        
        
    }
    .header_burger span {
        margin-left: 550px;
      
    }
    .header_logo {
        margin-left: 0px;
    }
}
@media (max-width:360px){
    
.header_burger:before,
    .header_burger:after{
        margin-left: 550px;
        
        
    }
    .header_burger span {
        margin-left: 550px;
      
    }
    .header_logo {
        margin-left: 0px;
    }
}


@media (max-width: 414px) {
    .header_burger:before,
    .header_burger:after{
        margin-left: 550px;
        
        
    }
    .header_burger span {
        margin-left: 550px;
      
    }
}

